In [15]:
# Main Code for Data 

import pandas as pd
import os
import csv
import numpy as np

# File to Load (Remember to Change These)
gas_pricee_data = "data/gas_prices.csv"
sales_data = "data/sales.csv"

# Read files 
gas_prices_df = pd.read_csv(gas_pricee_data)
sales_df =pd.read_csv(sales_data)

In [16]:
gas_prices_df.head()

  MonthYear  Price Per Gallon
0      7-21             3.136
1      6-21             3.064
2      5-21             2.985
3      4-21             2.858
4      3-21             2.810

In [18]:
sales_df.head()

,Month,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,2005,"1,052,224","1,244,753","1,564,938","1,493,837","1,488,171","1,671,401","1,795,944","1,474,130","1,321,156","1,139,217","1,160,447","1,475,649"
1,2006,"1,136,538","1,253,271","1,519,952","1,439,311","1,478,735","1,487,688","1,480,504","1,478,072","1,342,543","1,205,973","1,188,344","1,419,758"
2,2007,"1,079,891","1,244,375","1,528,582","1,326,837","1,550,609","1,433,282","1,302,661","1,467,601","1,305,275","1,221,485","1,170,035","1,377,542"
3,2008,"1,036,540","1,162,277","1,339,158","1,237,336","1,383,754","1,176,765","1,126,477","1,240,785","959,127","829,396","737,978","884,306"
4,2009,"650,608","681,676","847,002","822,746","919,295","850,654","991,950","1,254,982","740,394","832,953","741,826","1,013,629"

In [19]:
months = sales_df.columns
months

Index(['Month', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec'],
      dtype='object')

In [22]:
mon_year = []
sales = []
for _, row in sales_df.iterrows():
    cur_year = row[0]
    for idx, cur_value in enumerate(list(row)):
        if idx >0:
            cur_month = months[idx]
            cur_key = f"{cur_month}-{cur_year}"
            sales.append(cur_value)
#                break
sales_df_data ={
    "Month_Year": mon_year,
    "Sales": sales
}
pd.DataFrame(sales_df_data)

ValueError: arrays must all be same length