In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as stats

In [4]:
df = pd.read_csv('final_file.csv')
df.head()

,MonthYear,Year,Sales,Price Per Gallon,Unemployment_Rate,Steel_Price_Index,New_Auto_Price_Index,Used_Auto_Price_Index
0,Jan-05,2005,"1,052,224",1.831,5.3,181.2,138.5,138.6
1,Feb-05,2005,"1,244,753",1.910,5.4,179.8,138.6,138.4
2,Mar-05,2005,"1,564,938",2.079,5.2,176.4,138.3,138.3
3,Apr-05,2005,"1,493,837",2.243,5.2,176.9,138.3,138.4
4,May-05,2005,"1,488,171",2.161,5.1,170.7,138.7,138.8

In [5]:
df['Sales'] = df['Sales'].str.replace[r'\D','']
df['Sales'] = df['Sales'].astype(float)

TypeError: 'method' object is not subscriptable

In [ ]:
pop1 = df[df["Sales"]]
pop1.mean()

In [ ]:
pop2 = df[df["Price Per Gallon"] == 6]
pop2.mean()

In [ ]:
stats.ttest_ind(pop1, pop2, equal_var=False)

In [ ]:
# population1 = df[df["location"] == 1]
# population1.vertebrae.mean()


# population2 = df[df["location"] == 6]
# population2.vertebrae.mean()

# stats.ttest_ind(population1.vertebrae, population2.vertebrae, equal_var=False)